*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
    align-items: center;
    height: 10vh;
}

header section{
flex:1 0 45%;
}

header h1{
    width: 40%;
    margin-left: 5%;
}

header nav{
flex: 1 0 45%;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
img{
    width: 40%;
    height: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.top-img{
    background-image: url(https://wallpaperswide.com/download/journey_painting-wallpaper-800x600.jpg);
    background-size: cover;
    width: 100%;
    height: 15vh;
    background-repeat: no-repeat;
}

.first-img{
    width: 100%;
    height: 50vh;
    flex: 1 0 100%;
    object-position: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column-left{
    flex: 1 0 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.column-right{
    flex: 1 0 80%;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}
